services:
  frontend:
    build:
      context: .
      args:
        - NEXT_PUBLIC_API_URL=http://jobchaja.com:8000
    container_name: job-frontend

  nginx:
    image: nginx:alpine
    container_name: nginx-proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - frontend
